<!
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Candor</title>
</head>
<body>
    Hello {{user}}
    <br>
    Welcome to category {{category}}
    <br>
    You are on context of url- {{website}}
    <br>
    <br>
    <div>
        <form name="submit_post" action="/post/addpost" method="post">
<!--            <label for="add_post">-->
<!--                Add your post here-->
<!--            </label>-->
            <input type="hidden" name="url" value={{website}}>
            <input type="hidden" name="category" value={{category}}>
            <input type="hidden" name="username" value={{user}}>
            <input type="text" name="post_body" placeholder="Write your post here"><br>
            <input type="submit" value="Post">

        </form>
    </div>
</body>
</html>
